.float-box{
    background-color: blue;
    width: 200px;
    height: 200px;
    color: #ffffff;
    padding: 30px;
    box-sizing: border-box;
    float: right;
}

p{
    font-size: 20px;
    clear: right;
}